{% for method_id, method in results.items() %}
  <details>
    <summary>
      <b><big>{{ method["name"] }}</big></b>
    </summary>
    <table style="margin: 5px 0">
      <tbody>
        <tr>
          <th>Move</th>
          {% if method_id == 1 %}
            <th>Level</th>
          {% elif method_id == 4 %}
            <th>Machine</th>
          {% endif %}
          {% if method["form_column"] %}
            <th>Form</th>
          {% endif %}
        </tr>
        {% for move in method["moves"].values() %}
          <tr>
            <td>{{ move["name"] }}</td>
            {% if method_id == 1 %}
              <td style="text-align: right">{{ move["level"] }}</td>
            {% elif method_id == 4 %}
              <td>{{ move["machine"] }}</td>
            {% endif %}
            {% if method["form_column"] %}
              <td>
                {% for form in move["forms"]|sort %}
                  {{ form.name }}
                  {%- if not loop.last %}, {% endif %}
                {% endfor %}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </details>
{% endfor %}
