{% for version_id, version in results.items() %}
  <details>
    <summary>
      <b><big>{{ version["name"] }}</big></b>
    </summary>
    <table>
      <tbody>
        <tr>
          <th>Location</th>
          <th>Method</th>
          <th>Level</th>
          <th colspan="2">Rarity</th>
        </tr>
        {% for slot in version["slots"].values() %}
          <tr>
            <td>{{ slot["location"] }}</td>
            <td>{{ slot["method"] }}</td>
            <td>
              L{{ slot["min_level"] }}
              {%- if slot["min_level"] < slot["max_level"] -%}
                -{{ slot["max_level"] }}
              {% endif %}
            </td>
            <td{% if not slot["conditions"] %} colspan="2"{% endif %}>
              {{ slot["rarity"] }}%
            </td>
            {% if slot["conditions"] %}
              <td>
                {% for condition in slot["conditions"] %}
                  {{ all_conditions[condition] }}
                  {%- if not loop.last %}, {% endif %}
                {% endfor %}
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </details>
{% endfor %}
